spring:
  datasource:
    url: jdbc:mysql://localhost:3306/TicketMaster_Backend?createDatabaseIfNotExist = true
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: create
    show_sql: true
